@charset 'utf-8';
@import url('common.css');

/* MAIN */
*{ color:#fff;}
.slidewrap{width:100vw; height:100vh; overflow: hidden;}
.slidewrap .slidelist{
    display: flex;
    width:100%; height:100%;
    transition:1s;
}
.slidewrap ul li{
    flex:0 0 auto;
    width:100%; height:100%;
}
.slidewrap ul li article{ 
    width:100%; height:100%;
    position:relative;
}



.slidewrap ul li article .title{
    position:absolute;
    display: flex;
    justify-content: center;
    align-items:center;
}
.slidewrap ul li article .title > p{
    font-size:120px;
    /* font-family:'Zefani_Uppercase_Demo-Regular'; */
    font-family: "Vanity-Bold.ttf";
    /* font-weight: bold; */
    z-index: 10;
}
.slidewrap ul li article > p{
    position:absolute;
    line-height: 2.3;
    font-family: 'Open Sans', sans-serif;
}
.slidewrap ul li article > a{
    width:100%; height:100%;
    object-fit: cover;
    position:absolute;
    top:0%; left:0%;
    opacity:0.8;
    /* width:95%; height:95%;
    display: block;
    border-radius: 20px;
    overflow:hidden;
    /* object-fit: cover; */
    /* position:absolute;
    top:2%; left:2%;
    opacity:0.6;  */

    /* background-image: radial-gradient(transparent,#000 100%); */
}
.slidewrap ul li article > a img{
    /* object-fit: cover; */
     height:100%;
}


/* main-perfume */
.slidewrap ul .perfume{
    flex:0 0 auto;
    width:100%; height:100%;
}
.slidewrap ul .perfume article{ 
    width:100%; height:100%;
    position:relative;
}
.slidewrap ul .perfume article .title{
    position:absolute;
    top:20%; left:5%;
    display: flex;
    justify-content: center;
    align-items:center;
}
.slidewrap ul .perfume article .title > p{
    font-size:120px;
    font-family: "Vanity-Bold.ttf";
    /* font-weight: bold; */
    z-index: 10;
}
.slidewrap ul .perfume article > p{
    position:absolute;
    width:25%;
    margin:0 auto;
    top:40%; left:5%;
    font-size: 16px;
    z-index: 10;
    opacity:0.8;
}
.slidewrap ul .perfume article > a{
    width:100%; height:100%;
    object-fit: cover;
    position:absolute;
    top:0%; left:0%;
    opacity:0.8;
}


/* main-bag */


.slidewrap ul .bags  article .title{
    position:absolute;
    top:20%; left:7.5%;
    display: flex;
    justify-content: center;
    align-items:center;
}
.slidewrap ul .bags article .title > p{
    font-size:120px;
    /* font-family:'Zefani_Uppercase_Demo-Regular'; */
    font-family: "Vanity-Bold.ttf";
    /* font-weight: bold; */
    z-index: 10;
}
.slidewrap ul .bags article > p{
    position:absolute;
    width:25%;
    margin:0 auto;
    /* font-family:'Zefani_Uppercase_Demo-Regular'; */
    top:40%; left:7.5%;
    font-size: 16px;
    z-index: 10;
    opacity:0.8;
}
.slidewrap ul .bags article > a{
    width:100%; height:100%;
    /* object-fit: cover; */
    position:absolute;
    top:0%; left:0%;
    opacity:0.8;
 
}

/* main-collection */
.slidewrap ul .collection article .title{
    position:absolute;
    top:20%; left:7.5%;
    display: flex;
    justify-content: center;
    align-items:center;
}
.slidewrap ul .collection article .title > p{
    font-size:120px;
    /* font-family:'Zefani_Uppercase_Demo-Regular'; */
    font-family: "Vanity-Bold.ttf";
    /* font-weight: bold; */
    z-index: 10;
}
.slidewrap ul .collection article > p{
    position:absolute;
    width:25%;
    margin:0 auto;
    /* font-family:'Zefani_Uppercase_Demo-Regular'; */
    bottom:25%; left:7.5%;
    font-size: 16px;
    z-index: 10;
    opacity:0.8;
}
.slidewrap ul .collection article > a{
    width:100%; height:100%;
    object-fit: cover;
    position:absolute;
    top:0%; left:0%;
    opacity:0.8;
    /* width:95%; height:95%;
    display: block;
    border-radius: 20px;
    overflow:hidden;
    /* object-fit: cover; */
    /* position:absolute;
    top:2%; left:2%;
    opacity:0.6;  */

    /* background-image: radial-gradient(transparent,#000 100%); */
}

.indicater{
    width:100%; height:43px;
    position:fixed;
    left:0; bottom:2%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.indicater > a{
    display: inline-block;
    width:20px; height:20px;
    background:url('../imgs/indicater-arrow.png') center center / cover;
    transition:.5s;
}
.indicater > a:hover{
    transform:scale(1.3);
}
.indicater > a:nth-of-type(1){transform:rotate(180deg);}
.indicater > a:nth-of-type(1):hover{transform:rotate(180deg) scale(1.3);}



.indicater div{
    margin:0 auto;
    display:flex;
    justify-content: space-around;
    align-items: center;
    background:#111;
    opacity: 0.8;
    padding:3px 5px 3px 5px;
    border-radius: 20px;
    width: 320px; height:100%;
    position:relative;
}
.indicater div a{
    display:block;
    border-radius:100%;
    margin:0 10px;
    font-family: 'Noto Sans KR', sans-serif;
    transition:.5s;
    mix-blend-mode: difference;
    color:#fff;
    z-index: 2;
}
.indicater div a:nth-of-type(2){ margin:0 2% 0 8%;}
.indicater div span{
    position:absolute;
    display: block;
    width:31%; height:39px;
    background:#fff;
    top:2px; left:2px;
    border-radius:20px;
    color:#000;
    font-family: 'Noto Sans KR', sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    transition:1s;
    z-index: 3;
}

/* slide */

.section .slidelist{
    /* overflow:hidden;
    float: left;
    width:100%; */
}
.section .slidelist > li{
    /* display:inline-block;
    vertical-align: middle;
    transition: .5s;
    position: relative;
    width:100%; */
    
}




/* FOOTER */
.foot{
    background: transparent;
    padding:0;
    margin:0 150px;
}





@media (max-width:480px){

    /* MAIN */

.slidewrap{height:80vh; margin:15px 0; overflow: hidden;}
.slidewrap ul{
    position:relative;
}

.slidewrap ul li{
    position:absolute;
    width:100%;
    padding:0;
}
.slidewrap ul li:nth-of-type(1){left:0%;}
.slidewrap ul li:nth-of-type(2){left:100%;}
.slidewrap ul li:nth-of-type(3){left:100%;}

.slidewrap ul li article{
    position:relative;
}
.slidewrap ul li article > a{
    display:block;
    margin:0 auto;
    width:100%; height:450px;
}
.slidewrap li article div{width:100%;}
.slidewrap li article div p{
    position:absolute;
    width:100%;
    text-align:center;
}

.slidewrap li article .copy p{font-size: 20px;}
.slidewrap li article .copy a{
    position:absolute;
}
.slidewrap li article .title p{
    font-size:70px;
    font-weight:bold;
    font-family: Constantia;
}


 
/* main-perfume */
.perfume{}
.perfume > a{
    background: url('../imgs/main/perfume.jpg') center center / cover;
}
.perfume div p{color:#f00;}
.perfume .title p:nth-of-type(1){top:10%; left:0;}
.perfume .title p:nth-of-type(2){top:30%; left:0;}
.perfume .title p:nth-of-type(3){bottom:30%;  left:0;}
.perfume .copy p{
    top:120%; right:0%;
    width:100%;
    padding:0 20px;
    color:#ddd;
    font-weight: bold;
}
.perfume .copy a{
    display: block;
    right:45%; bottom:-13%;
    width:50px; height:30px;
}


/* main-bag */
.bag{}
.bag > a{
    background:url("../imgs/main/bag.jpg") center center / cover;
    background-position-y: -30px;
}
.bag div p{color:#00746b;}
.bag .title p:nth-of-type(1){top:0%; left:0%;}
.bag .title p:nth-of-type(2){top:20%; left:0%;}
.bag .title p:nth-of-type(3){bottom:27%; left:0%;}
.bag .title p:nth-of-type(4){bottom:5%; left:0%;}

.bag .copy p{
    top:110%; right:0;
    width:100%;
    padding:0 20px;
    font-weight: bold;
}
.bag .copy a{
    display: block;
    right:45%; bottom:-7%;
    width:50px; height:30px;
}

/* main-collection */
.collection{}
.collection > a{
    background:url("../imgs/main/collection.jpg") center center / cover;
    background-position-y: -30px;
}
.collection div p{color:#fff;}
.collection .title p:nth-of-type(1){top:20%; left:0%;}
.collection .title p:nth-of-type(2){top:40%; left:0%;}
.collection .title p:nth-of-type(3){bottom:20%; left:0; font-size: 57px;}

.collection .copy p{text-align:center;}
.collection .copy p:nth-of-type(1){top:110%; right:0;}
.collection .copy p:nth-of-type(2){top:120%; right:0;}
.collection .copy p:nth-of-type(3){bottom:-35%; right:0;}

.collection .copy a{
    display: block;
    right:45%; bottom:-7%;
    width:50px; height:30px
}



.indicater{
    width:100%; height:16px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.indicater span{
    display:block;
    margin:0 auto;
    width:20%; height:18px;
}
.indicater > a{
    display: inline-block;
    width:16px; height:16px;
    background:url('../imgs/indicater-arrow.png');
}
.indicater > a:nth-of-type(1){transform:rotate(180deg);}
.indicater div{
    display:flex;
    justify-content: center;
    align-items: center;
}
.indicater div a{
    display:block;
    width:16px; height:16px;
    border-radius:100%;
    margin:0 10px;
}
.indicater div a:nth-of-type(1){background:#f00;}
.indicater div a:nth-of-type(2){background:#00746b;}
.indicater div a:nth-of-type(3){background:#fff;}

/* slide */

.section .slidelist{
    /* overflow:hidden;
    float: left;
    width:100%; */
}
.section .slidelist > li{
    /* display:inline-block;
    vertical-align: middle;
    transition: .5s;
    position: relative;
    width:100%; */
    
}




}







